<div class="container">
  <h1>Proyectos</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="app/assets/images/suricata.JPG" class="card-img-top" alt="Proyecto 1">
        <div class="card-body">
          <h5 class="card-title">Proyecto 1</h5>
          <p class="card-text">Descripción del proyecto 1.</p>
          <button type="button" class="btn btn-primary">Ver más</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="app/assets/images/iguana.JPG" class="card-img-top" alt="Proyecto 2">
        <div class="card-body">
          <h5 class="card-title">Proyecto 2</h5>
          <p class="card-text">Descripción del proyecto 2.</p>
          <button type="button" class="btn btn-primary">Ver más</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src=" class="card-img-top" alt="Proyecto 3">
        <div class="card-body">
          <h5 class="card-title">Proyecto 3</h5>
          <p class="card-text">Descripción del proyecto 3.</p>
          <button type="button" class="btn btn-primary">Ver más</button>
        </div>
      </div>
    </div>
  </div>
</div>
