<div class="container">
  <h1>Proyectos</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
      <%= image_tag('suricata.jpg') %> 
        <div class="card-body">
          <h5 class="card-title">Proyecto 1</h5>
          <p class="card-text">Descripción del proyecto 1.</p>
          <button type="button" class="btn btn-primary">Ver más</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
      <%= image_tag('iguana.jpg') %> 
        <div class="card-body">
          <h5 class="card-title">Proyecto 2</h5>
          <p class="card-text">Descripción del proyecto 2.</p>
          <button type="button" class="btn btn-primary">Ver más</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag('cuppon.jpg') %> 
        <div class="card-body">
          <h5 class="card-title">Proyecto 3</h5>
          <p class="card-text">Descripción del proyecto 3.</p>
          <button type="button" class="btn btn-primary">Ver más</button>
        </div>
      </div>
    </div>
  </div>
</div>
